/*
  @author emchateau
  @since 2018-11
  @version 1.0
*/

// font-family: 'IBM Plex Sans', sans-serif;
// font-family: 'IBM Plex Sans Condensed', sans-serif;
// font-family: 'IBM Plex Serif', serif;
// font-family: 'IBM Plex Mono', monospace;

// flex tuto https://css-tricks.com/snippets/css/a-guide-to-flexbox/
// grid tuto https://css-tricks.com/snippets/css/complete-guide-grid/
// grid tuto https://medium.freecodecamp.org/how-to-make-your-html-responsive-by-adding-a-single-line-of-css-2a62de81e431

// https://drewish.com/tools/vertical-rhythm/
* {
  box-sizing: border-box;
}

/* Navigation */
nav {
  width: 100%;
  background: rgba(63, 81, 181, 0.90);
  text-align: center;
  margin:0;
  padding:0;
}
nav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
}
nav ul a {
    display: block;
    padding: 0.02rem 1.4rem;
    font-size: 1.1rem;
    font-weight: bolder;
    transition: all 0.3s ease-out;
}
nav ul li:first-child {
  margin-right: auto;
}
/* applied after scroll height reached */
.fixed-nav nav {
  position: fixed;
  top:0;
  z-index: 1;
  box-shadow: 0 0.5em 0.5em -0.3em rgba(0, 0, 0, 0.1);
}

nav a {
  background: none;
  padding-bottom: none;
  color: #ffff00;
  text-decoration: none;
}


nav a:hover {
  color: #ffff;
}

/* Sticky footer */
html, body {
  height: 100%
}
body {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  min-height: 100vh;
  margin: auto;
}

header {
  padding: 0 2em ;
}


main {
  flex-grow: 1;
  margin: auto;
  padding-top: 3em;
}

section {
  background-color: red;
  padding: 5em;
  margin: auto;
}

article {
  margin: 0 auto;
  //max-width: 47em;
  columns: 23em;
  column-gap: 1.5em;
  column-count: 2;
  border-bottom: 0.15rem solid ;
}

footer {
  flex-shrink: 0;
}

@media (max-width: 684px) {
  section {
    padding: 1.1em ;
  }
}
@media (max-width: 382px) {
  main {
    section: 0.8em ;
  }
}

.alternate {
  background-color: #fff;
  color: #3f51b5;
}

/* Typography */
body {
  background-color: #3f51b5;
  font-family: 'IBM Plex Serif', sans-serif;
  font-size: 1rem;
  line-height: 1.7;
  font-weight: normal;
  color: #fff;
  letter-spacing: 0.03em;
}

h1, h2, h3, h4 {
  font-family: 'IBM Plex Sans', sans-serif;
  font-style: oblique;
  font-weight: normal;
}

h2 {
  column-span: all;
}

h2 {
  font-size: 1.75em; /* 28px */
  line-height: 1.25; /* 28*1.25 = 35px */
  margin-top: 1.036em; /* 29px */
  margin-bottom: .2859em; /* 8px */
}

h3 {
  font-size: 1.314em; /* 21px */
  line-height: 1.29; /* 1.29*21 = 27px */
  margin-top: .619em; /* 13px */
  margin-bottom: .38em;/* 8px */
}

sup {
  vertical-align: middle;
  font-size: smaller;
}

sup.note {
  font-size: 0.7em;
}

@media (max-width: 684px) {
  body {
    font-size: 0.9rem;
  }
}
@media (max-width: 382px) {
  body {
    font-size: 0.9rem;
  }
}

/* links */

/*
a {
  border-bottom: 0.075em solid #ffff00;
  color: #ffff00;
  padding-bottom: .10em;
  text-decoration: none;
}

a:hover {
  color: #fff;
}*/

/* Liens surlignés */
a {
  background:
     linear-gradient(
       to bottom, #ffff00 0%,
       #ffff00 100%
     );
    background-position: 0 100%;
    padding-bottom: .10em;
    background-repeat: repeat-x;
    background-size: 0.01em 0.01em;
  color: #ffff00;
  text-decoration: none;
  transition: background-size .25s;
}

a:hover {
  color: #3f51b5;
  background-size: 1.3em 1.3em;
}
